
@model DocumentTracking.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";

}
<div id="main-wrapper">

    <div class="unix-login">
        <div class="container-fluid" style="background-color: gainsboro;">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="login-content card">
                        <div class="login-form">
                            <div class="text-center">
                                <img src="~/Content/elaadmin/images/loginLogo.png" width="64" height="64" />
                                <h2><strong>DOCUMENT MANAGEMENT SYSTEM</strong></h2>
                            </div>
                            <h4><strong>Forgot your Password?</strong></h4>
                            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <h4>Enter your email.</h4>
                                @*<hr />*@
                                @Html.ValidationSummary("", new { @class = "text-danger" })
                                <div class="form-group">
                                    @*<div class="text-center"> @Html.LabelFor(m => m.Email, new { @class = "" })</div>*@
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder="Email" })

                                </div>
                                <button type="submit" class="btn btn-primary">Email Link</button>
                            }
                            <br />
                            <br />
                            <br />

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
