@model DocumentTracking.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";

}


<div id="main-wrapper">

    <div class="unix-login">
        <div class="container-fluid" style="background-color: gainsboro;">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="login-content card">
                        <div class="login-form">
                            <div class="text-center">
                                <img src="~/Content/elaadmin/images/loginLogo.png" width="64" height="64" />
                                <h2><strong>DOCUMENT MANAGEMENT SYSTEM</strong></h2>
                            </div>
                            <h4><strong>Reset your password</strong></h4>
                        

                        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                                @Html.ValidationSummary("", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.Code)
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                                    <div class="">
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Password, new { @class = " control-label" })
                                    <div class="">
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                                    <div class="">
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="">
                                        <button type="submit" class="btn btn-primary">Reset</button>
                                    </div>
                                </div>
                        }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




                            @section Scripts {
                                @Scripts.Render("~/bundles/jqueryval")
                            }
